* {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.float-clean{
    content: '';
    display: block;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container {
    width: 1280px;
    margin: auto;
    vertical-align: top; 
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

a{
    color: inherit;
    text-decoration: none;
}

/* 頂部條 */
.topbar {
    background-color: rgb(224, 224, 224);
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}

.topbar-board {
    justify-content: space-between;
}

.topbar-board nav{
    margin:0 40px;
}

.topbar-board nav a {
    font-size: 15px;
    padding: 0 10px;
    border-right: 1px solid black;
}
.topbar-board nav a:hover{
    padding: 0 10px;
    color: rgb(228,5,128);
    border-right: 1px solid rgb(228,5,128);
}




















/* logo 搜尋框 頁首 */
.header-board .logo img{
    width: 280px;
}

.header-board{
    height: 200px;
    margin: auto;
    justify-content: space-between;
}
.header-board-input {
    width: 500px;
    margin-top: 50px;
    
}
.header-board-input input{
    width: 350px;
    height: 30px;
    font-size: 15px;
    border: 2px solid rgb(68,68,68);
    border-radius: 20px 0px 0px 20px;
    padding-left: 10px;
}
.header-board-input button{
    width: 85px;
    height: 33px;
    background-color: rgb(68, 68, 68);
    color: white;
    border: 2px solid rgb(68,68,68);
    font-size: 15px;
    font-weight: 800;
    border-radius:0px 20px 20px 0px;
    margin-left: -5px;
    vertical-align: top;
}
.header-board-input div{
    color: rgb(228,5,128);
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

.header-board-input a{
    font-size: 15px;
    border-right: 1px solid rgb(228,5,128);
    padding-right:5px ;
}
.header-board-input a:hover{
    border-right: 1px solid rgb(5, 42, 228);
    color: rgb(5, 42, 228);
    padding-right:5px ;
}
.header-board-input div> a:last-child{
    border-right: 0px solid rgb(228,5,128);
}
.header-board-input div> a:first-child{
    margin-left: 10px;
}

.off-3{
    margin-top: 20px;
    width: 380px;
    height: 95px;
    border-radius: 90px;
    background-image: linear-gradient(to right, #fec5c5, #ff7676);
    align-items: center;
    justify-content: space-between;
}
.off-3 img{
    height: 75px;
}
.off-3 div{
    width: 60px;
    height: 100px;
    text-align: center;
    position: relative;
}
.off-3 div::after{
    content:'';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:10px solid #f8f6f6;
    background-color: #fec5c5;
    top: -10px;
    right: -25px;
}
.class-bar-header{
    flex-basis: 45%;
}

.class-bar-header img{
    width: 200px;
    margin-top: 40px;
    z-index: 0;
}
/* .class-bar-header-value{
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 14px;
    font-weight: 800;
    padding:0px 50px;
    background-color: rgb(80, 80, 80);
} */
/* .class-bar-header i{
    margin-right: 5px;
    font-size: 18px;
} */
/* .class-bar-header-value::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 20px;
    top: 15px;
    left: 15px;
    background-color: #ffffff;
}
.class-bar-header::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 20px;
    top: 20px;
    left: 15px;
    background-color: #ffffff;
}
.class-bar-header::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 2px;
    border-radius: 20px;
    top: 26px;
    left: 15px;
    background-color: #ffffff;
} */
.little-bar{
    /* margin-top: 40px; */
    align-items: flex-end;
}
.little-bar ul{
    width: 640px;
    list-style-type: none;
    margin-top: 35px;
    margin-right: 8px;
    justify-content: space-between;
    z-index: 1;
}
.little-bar li{
    text-align: center;
    width: 75px;
    padding: 10px 0px;
    font-size: 15px;
    font-weight: 800;
    color:rgb(102, 102, 102);
    background-color: rgb(200, 200, 200);
    border-radius: 5px 5px 0px 0px;
}
.little-bar li a{
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color:rgb(102, 102, 102);
}


/* 宣傳及商品分類 */

.banner-pt{
    background-color: aqua;
}
.class-item{
    width: 200px;
    background-color: rgb(102,102,102);
    box-shadow: 0px 10px 8px rgba(81,81,81) inset;
    position: relative;
}
.class-item nav{
    width: 200px;
    padding: 10px 0;
    font-size: 14px;
    color: white;
    text-align: center;
}


.class-item nav:hover {
    width: 200px;
    background-color: rgb(228,5,128);
    padding: 10px 0;
    font-size: 14px;
    color: white;
    text-align: center;
}
.class-item nav:first-child{
    margin-top: 5px;
}

.class-item nav:hover .class-side-item{
    display: block;
}

.class-side-item{
    width: 1080px;
    background-color:rgb(170, 125, 125);
    border:3px solid rgb(228,5,128);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 2;
    display: none;
}

.class-side-item dl {
    font-size: 15px;
    color: aliceblue;
    justify-content: left;
    text-align: center;
}

.class-side-item dl dt{
    padding: 10px 20px;
    width: 100px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(135, 103, 166);
    
}

.class-side-item dl:first-child dt{
    padding: 10px 20px;
    width: 100px;
    font-size: 15px;
    color: aliceblue;
    background-color: rgb(135, 103, 166);
    border-radius: 10px 0px 0px 0px;
    
}

.class-side-item dl dd{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: aliceblue;

}

.class-side-item dl dd a{
    font-size: 15px;
    color: aliceblue;
    margin: 5px;
    padding-right: 10px;
    border-right: 1px solid rgb(102,102,102);
}

.class-side-item dl a img{
    height: 50px;
}




.bottom-bar{
    border-bottom: 1px solid rgb(217, 217, 217);
}

.banner-swich{
    position: relative;
    width: 880px;
    height: 400px;
    z-index: 1;
}

.banner-swich img{
    width: 880px;
}
.banner-btn{
    width: 40px;
    height: 80px;
    color: #f8f6f6;
    position: absolute;
    font-size: 150px;
    top: 150px;
    left: 0px;
    border: 0;
    background-color: rgba(184, 183, 185,0.5);
    border-radius: 0px 5px 5px 0px;
}
.banner-btn2{
    width: 40px;
    height: 80px;
    font-size: 150px;
    color: #f8f6f6;
    position: absolute;
    top: 150px;
    left: 840px;
    border: 0;
    background-color: rgba(184, 183, 185,0.5);
    border-radius: 5px 0px 0px 5px;
} 
.today-s{
    width: 198px;
    height: 375px;
    padding:10px 0px;
    justify-content: space-between;
    background-color: #b5b5b5;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 10px;
}
.today-s p {
    font-size: 20px;
    font-weight: 800;
    color: #f8f6f6;
}
.today-s div button{
    margin: 5px;
    width: 20px;
    height: 20px;
    font-size: 15px;
    color: #f8f6f6;
    background-color: #5f5f5f;
    border: 0;
}
.today-s img{
    width: 190px;
    margin: 1px 0px;

}

.banner-lost-bar{
    width: 1080px;
    height: 150px;
    background-color: #5f5f5f;
    vertical-align: top;
    /* margin: 0px 10px 0px 210px; */
    font-size: 0px;
}
.banner-lost-bar img{
    width: 540px;
}
.banner-lost-bar-cake{
    width: 250px;
    height: 150px;
    background-color: #f8f6f6;
    margin-left: 12px;
}

/* .banner-lost-bar-cake:last-child{
    width: 250px;
    height: 150px;
    background-color: #f8f6f6;
    margin: 0px 0px 0px 10px;
} */
.banner-lost-bar-cake p{
    height: 37px;
    line-height: 37px;
    background-color: rgb(255,97,98);
    color: white;
    font-size: 17px;
    font-weight: 600;
}